 .container {
    margin-top: 5%;
  border-radius: 16px;
  

}
.box{
    margin-top: 11%;
}
.display-4{
    margin-left: 5%;
}
.card-header{
    background-color: #fff;
}
.mt-3{
 text-align: left;
}
.mb-3{
    background-color: black;
    text-align: center;
}
.h5{
    font-size: 50px;
    margin-top: 10%;    
    text-align: center;
    color: rgb(24, 23, 23);
  
}
/* .h5{
    margin-top: 15%;    
    text-align: center;
    color: rgb(24, 23, 23);
  
} */

.row{
    justify-content: center;
    align-items: center;
    align-content: center;
}
